:root {
    --darkblue: #3E5C76;
    --lightblue: #748CAB;
    --softwhite: #F0EBD8;
    --navy:  #0D1321; 
}

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0
}

header {
    background-color: var(--darkblue);
    color: var(--softwhite);
}

.card {
    background-color: var(--lightblue);
    color: var(--softwhite);
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
    margin: 2%;
    margin-top: 80px;
    padding: 20px;
    width: 46%;
    overflow: hidden;
    position: relative;
    float: left;
}

h1{
    text-align: center;
    text-decoration: bold;
}

.row {
    background-color: var(--darkblue);
    color: var(--softwhite);
}

.container {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    
}

.card::after {
    content: " ";
    display: block;
    clear: both;
  }